<h1>Stupid Coaching</h1>
<div class="ask_coach">
  <%= 'Ask your coach anyhting!' %>
  <form action="/answer" method="get" class="input-group w-50">
    <input type="text" class="form-control" name="question" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <input class="input-group-text" id="basic-addon2" type="submit" value="Ask!" class="btn">
  </form>
</div>
